<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<link rel="stylesheet" href="/css/card.css">
	<link rel="stylesheet" href="/css/product.css">
	<link rel="stylesheet" href="/css/nav.css">
	<link rel="stylesheet" href="/css/select-option-carts.css">
	<link rel="stylesheet" href="/css/paginate.css">
	<link rel="stylesheet" href="/css/guia.css">
	<link rel="stylesheet" href="/css/form-user-signup.css">
	<link rel="stylesheet" href="/css/profile.css">
	<link rel="stylesheet" href="/css/chat.css">
	<link rel="stylesheet" href="/css/order.css">
	<title>{{{pageTitle}}}</title>
</head>

<body style="	height: 100vh!important">

	{{#if (eq pageTitle "Signup")}}
	{{else}}
	{{#if (eq pageTitle "Login")}}
	{{else}}
	{{#if (eq pageTitle "Reset Password")}}
	{{else}}
	{{>nav}}
	{{#if user.user}}
	{{else}}
	{{/if}}
	<p class="messages-text">{{message}}</p>
	{{#if (eq pageTitle "Profile")}}
	{{else}}
	{{#if (eq pageTitle "Productos")}}
	{{>nav-filter}}
	{{else}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
	<main class="site-main">
		<a class="mockups" href="http://localhost:8080/api/docs">url swagger</a>

		{{{body}}}
	</main>
	{{#if (eq pageTitle "Signup")}}
	{{else}}
	{{#if (eq pageTitle "Login")}}
	{{else}}
	{{#if (eq pageTitle "Carrito")}}
	{{else}}
	{{#if (eq pageTitle "Order")}}
	{{else}}
	{{#if (eq pageTitle "Reset Password")}}
	{{else}}
	{{#if (eq pageTitle "Premiun")}}
	{{else}}
	{{#if (eq pageTitle undefined)}}
	{{else}}
	{{>paginate}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{/if}}
	{{>footer}}
	<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
	<script type="module" src="/js/index.js"></script>


</body>

</html>