<div class="profile-ctn">
	<div class="profile-col1-ctn">
		<img src="" alt="" class="profile-user-img">
	</div>
	<div class="profile-user-data-ctn">
		<div>
			<p class="profile-item">Usuario: <span class="profile-user-data">{{userDto.user}}</span></p>
			<p class="profile-item">Nombre: <span class="profile-user-data">{{userDto.firstName}}</span></p>
			<p class="profile-item">Apellido:<span class="profile-user-data">{{userDto.lastName}}</span></p>
			<p class="profile-item">Nombre: <span class="profile-user-data">{{userDto.age}}</span></p>
			<p class="profile-item">Email: <span class="profile-user-data">{{userDto.email}}</span></p>
			<p class="profile-item">rol: <span class="profile-user-data">{{userDto.rol}}</span></p>
		</div>
	</div>

</div>